body{
margin-left: 0px;
margin-right: 0px;
}

h1{
text-align: center;
}

main{
  margin-left: 20px;
  margin-right: 20px; 
}

.navbar ul{
list-style-type: none;
background-color: rgb(1, 202, 11);
padding: 0px;
margin: 0px;
overflow: hidden;
}
.navbar a{
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
background-color: hsl(0, 0%, 9%);

}

.navbar li{
float: left;
}

/*style.css*/
body{

background-color:rgb(247, 248, 250)
}

img{

margin-top: 30px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;


}

/* widescreen displays */
@media only screen and (min-width: 920px) {
    .container { /* some layout rules */ }
}
  
/* tablets */
@media only screen and (max-width: 919px) {
    .container { /* some layout rules */ }
}
  /* phones */
@media only screen and (max-width: 400px){
    .container { 
        /* some layout rules */
    }
}